<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col">
              <h4>company</h4>
              <ul>
                  <li><a href="#">Accueil</a></li>
                  <li><a href="#">A propos</a></li>
                  <li><a href="#">nos services</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Recettes</h4>
              <ul>
                  <li><a href="#">Apéritif</a></li>
                  <li><a href="#">Entrée</a></li>
                  <li><a href="#">Plat</a></li>
                  <li><a href="#">Dessert</a></li>
                  <li><a href="#">Accompagnement</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Autre Options</h4>
              <ul>
                  <li><a href="#">Recettes Sans Gluten</a></li>
                  <li><a href="#">Recettes Sans Lactose</a></li>
                  <li><a href="#">Recettes Végétariennes</a></li>
                  <li><a href="#">Recettes Sans Sucre Ajouté</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Nous Suivre</h4>
              <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
      </div>
  </div>
</footer>
