p {
    color: #000;
    font-family: "Open Sans";
    font-size: 18px;
    text-align: justify;
    /*font-weight: 500;*/
    line-height: 1.5;
}

/*.container{
    width: 35%;
}*/

/*.container {
    /*display: flex;
    justify-content: flex-end;
    margin-left:50%;
    width: 40%;
    margin-bottom: 20px;
    margin-top: -425px;
}*/
.container{
    margin-bottom: 50px;
}