.container{
  width: 200%;
  border: 1px solid var(--lightgrey);
  background-color: #fef7f7;
}

/*.container {
    margin-left: 10%;
    margin-top: 400px;
    margin-bottom: 20px;
    width: 36%;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid var(--lightgrey);
}*/
.content, .calories{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--lightgrey);
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

h3{
    font-family: 'Poiret One', sans-serif;
  margin-bottom: 20px;
  text-transform: capitalize;
  margin-left: 30px;
  margin-top: 20px;
    color: var(--pink);
    font-size: 35px;
}
.content:last-of-type{
    margin-bottom: 40px;
  }
