<app-navbar></app-navbar>
<app-layout></app-layout>


<div id="calendar-container">
  <div id="cal-buttons">
    <div id="cal-date-nav-buttons">
      <button id="previous" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view">Précédent</button>
      <button id="today" mwlCalendarToday [(viewDate)]="viewDate">Aujourd'hui</button>
      <button id="next" mwlCalendarNextView [(viewDate)]="viewDate" [view]="view">Suivant</button>
    </div>
    <div id="cal-date-field">{{viewDate | calendarDate:(view+'ViewTitle') : 'fr'}}</div>
    <div id="Cal-view-nav-buttons">
      <button id="month"(click)="setView(CalendarView.Month)">Mois</button>
      <button id="week" (click)="setView(CalendarView.Week)">Semaine</button>
      <button id="day" (click)="setView(CalendarView.Day)">Jour</button>
    </div>
  </div>
  <span [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="eventClicked($event)"
    (eventTimesChanged)="eventTimesChanged"
    [refresh]="refresh"
    ></mwl-calendar-month-view>

    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    (eventClicked)="eventClicked($event)"
    (eventTimesChanged)="eventTimesChanged"
    [refresh]="refresh"
    ></mwl-calendar-week-view>

    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    (eventClicked)="eventClicked($event)"
    (eventTimesChanged)="eventTimesChanged"
    [refresh]="refresh"
    ></mwl-calendar-day-view>
  </span>

</div>
